<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Payment</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script>
		/* You can add more configuration options to webfontloader by previously defining the WebFontConfig with your options */
		if (typeof WebFontConfig === "undefined") {
			WebFontConfig = new Object();
		}
		WebFontConfig['google'] = { families: ['Montserrat:400', 'Open+Sans'] };

		(function () {
			var wf = document.createElement('script');
			wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>
	<!--===============================================================================================-->
</head>

<body>

	<div class="container">
		<a href="#">
			<img class="aligncenter" src="{% static 'images/logo.png' %}" alt="" width="213" height="54">
		</a>
		<form class="contact-form" id="id_post_form">
			{% csrf_token %}
			<h3>Payment Form</h3>
			<div class=" header-separater">
			</div>
			<fieldset data-validate="Valid email is: a@b.c">
				<input class="input100" type="email" name="email" placeholder="Email" required>
			</fieldset>
			<fieldset data-validate="Enter first name">
				<input class="input100" type="text" name="first_name" placeholder="First Name" required>
			</fieldset>
			<fieldset data-validate="Enter last name">
				<input class="input100" type="text" name="last_name" placeholder="Last Name" required>
			</fieldset>
			<fieldset data-validate="Enter amount">
				<input class="input100" type="text" name="amount" placeholder="Amount" required>
			</fieldset>
			<input class="input100" type="hidden" name="client" value="1">
			<fieldset>
				<button name="submit" type="submit" id="contact-submit">Pay</button>
			</fieldset>
		</form>
	</div>

	<!--===============================================================================================-->
	<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script>
		$("#id_post_form").submit(function (event) {
			event.preventDefault();
			var form = $(this).serialize();
			var url = "/sign/"
			var csrfToken = $('input[name="csrfmiddlewaretoken"]').val()
			$.ajax({
				type: "POST",
				url: url,
				data: form,
				datatype: 'json',
				processData: false,
				headers: { 'X-CSRFToken': csrfToken },
				success: function (response) {
					post_to_cybersource(response.url, response.data)
				}

			});
		});

		function post_to_cybersource(path, params) {
			var form = document.createElement("form");
			form.setAttribute("method", 'POST');
			form.setAttribute("action", path);

			for (var key in params) {
				if (params.hasOwnProperty(key)) {
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("name", key);
					hiddenField.setAttribute("value", params[key]);

					form.appendChild(hiddenField);
				}
			}

			document.body.appendChild(form);
			form.submit();
		}
	</script>
</body>

</html>